/* Вторичный фон #2F303A */
/* Третичный фон #f5f4fa */
/* Основной белый, фон шапки #fff */
/* Основной черный */
/* Основной текст #757575 */
/* Текст заголовков #212121 */
/* Текст ссылок футера rgba(255, 255, 255, 0.6) */
/* Акцент #2196F3 */
/* Цвет рамки шапки #ECECEC */

/* Общие стили */

:root {
  --secondary-background-color: #2f303a;
  --tetriary-background-color: #f5f4fa;
  --primary-white-color: #fff;
  --primary-black-color: #000;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --footer-linc-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #2196f3;
  --header-border-color: #ececec;
  --hero-bacground-color: #c4c4c4;
  --icon-light-color: #afb1b8;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Утилиты */

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  color: var(--accent-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo__text--white {
  color: var(--primary-white-color);
}

.logo__text--black {
  color: var(--primary-black-color);
}

.pic {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* Кнопки */

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 28px;

  background-color: var(--accent-text-color);
  color: var(--primary-white-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  cursor: pointer;

  transition: background-color var(--animation);
}

.button:focus,
.button:hover {
  background-color: #188ce8;
}

/* Иконки соц.сетей */

.social__list {
  display: inline-flex;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link--light {
  color: var(--icon-light-color);

  transition: color var(--animation), background-color var(--animation);
}

.social__link--light:hover,
.social__link--light:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
}

.social__link--dark {
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--animation);
}

.social__link--dark:hover,
.social__link--dark:focus {
  background-color: var(--accent-text-color);
}

.social__icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

/* Шапка */

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header__container {
  display: flex;
  align-items: center;
}

/* Шапка-Наигация */

.nav,
.nav__list {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--animation);
}

.nav__link--current {
  position: relative;
  color: var(--accent-text-color);
}

.nav__link--current::after {
  position: absolute;
  bottom: -1px;

  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

.nav__link:hover,
.nav__list:focus {
  color: var(--accent-text-color);
}

/* Шапка-Контакты */

.h-contacts {
  display: flex;
  margin-left: auto;
}

.h-contacts__item:not(:first-child) {
  margin-left: 50px;
}

.h-contacts__link {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--animation);
}

.h-contacts__link:hover,
.h-contacts__link:focus {
  color: var(--accent-text-color);
}

.h-contacts__icon-envelope {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.h-contacts__icon-phone {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

/* Подвал */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--secondary-background-color);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

/* Подвал-Адрес */

.footer__container {
  display: flex;
  align-items: baseline;
}

.f-address {
  display: block;
  width: 231px;
  margin-right: 70px;
}

.f-address__item:not(:first-child) {
  margin-top: 9px;
}

.f-address__link {
  color: var(--footer-linc-color);

  font-style: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: color var(--animation);
}

.f-address__link--white {
  color: var(--primary-white-color);
}

.f-address__link:hover,
.f-address__link:focus {
  color: var(--accent-text-color);
}

/* Подвал-соц.сети */

.f-social__title {
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

/* Подвал-подписка */

.f-form {
  display: flex;
  margin-left: auto;
}

.f-form__field {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.f-form__label {
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.f-form__input {
  padding: 15px;
  width: 358px;

  background-color: transparent;
  color: var(--primary-white-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  cursor: pointer;
}

.f-form__button {
  margin-top: auto;
}

.f-form__icon {
  margin-left: auto;
  width: 24px;
  height: 24px;
}

/* Главная страница */

/* Герой */

.hero {
  max-width: 1600px;
  max-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-color: var(--hero-bacground-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-overlay.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  max-width: 696px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Особенности */

.features__list {
  display: flex;
}

.features__item {
  width: 270px;
  margin-right: 30px;
}

.features__item:last-child {
  margin-right: 0;
}

.features__iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--tetriary-background-color);
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

/* Виды деятельности */

.activities {
  padding-top: 0;
}

.activities__list {
  display: flex;
}

.activities__item {
  margin-right: 30px;
}

.activities__item:last-child {
  margin-right: 0;
}

.activities__item-wrapper {
  position: relative;
  width: 370px;
  height: 294px;
}

.activities__title {
  position: absolute;
  bottom: 0;

  margin-bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Команда */

.team {
  background-color: var(--tetriary-background-color);
}

.team__list {
  display: flex;
}

.team__item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.t-card {
  padding: 30px 32px;

  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
}

.t-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  text-transform: none;
}

.t-card__descr {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

/* Клиенты */

.clients__list {
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  color: var(--icon-light-color);
  border: 1px solid var(--icon-light-color);
  border-radius: 4px;

  transition: color var(--animation), border var(--animation);
}

.clients__link:focus,
.clients__link:hover {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

.clients__icon {
  width: 106px;
  height: 60px;

  fill: currentColor;
}

/* Модальное окно */

/* Бекдроп */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);

  transition: opacity var(--animation), transform var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
  transform: scale(0);

  transition: opacity var(--animation), transform var(--animation);
}

/* Форма модального окна */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;
  min-width: 528px;
  min-height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: opacity var(--animation), transform var(--animation);
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  text-align: center;

  font-size: 20px;
  line-height: 1.15;

  color: var(--title-text-color);
}

/* Поле модального окна */

.modal-field {
  position: relative;

  display: flex;
  flex-direction: column;
}

.modal-field__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
}

.modal-field__input {
  margin-bottom: 10px;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;

  cursor: pointer;

  transition: border var(--animation);
}

/* Иконки полей */

.modal-field__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  transform: translate(12px, 28px);

  fill: var(--primary-black-color);

  transition: fill var(--animation);
}

.modal-field:focus-within .modal-field__icon {
  fill: var(--accent-text-color);
}

.modal-field:focus-within .modal-field__input,
.modal-field:focus-within .modal__comment {
  border: 1px solid var(--accent-text-color);
  outline: 0;
}

.modal-field:hover .modal-field__icon {
  fill: var(--accent-text-color);
}

.modal-field:hover .modal__comment,
.modal-field:hover .modal-field__input {
  border: 1px solid var(--accent-text-color);
}

/* Комментарий */

.modal__comment {
  margin-bottom: 10px;
  padding: 11px 12px;
  min-height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;
  cursor: pointer;

  transition: border var(--animation);
}

.modal__comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

/* Согласие чекбокс */

.modal-checkbox {
  position: relative;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal-checkbox__title {
  font-size: 14px;
  line-height: 1.64;
  margin-bottom: 0;
}

.modal-checkbox__link {
  margin-left: 5px;

  font-size: 14px;
  line-height: 1.64;

  color: var(--accent-text-color);
  text-decoration: underline;
}

.modal-checkbox__icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;

  border: 2px solid var(--primary-black-color);
  border-radius: 2px;

  opacity: 1;

  transition: opacity var(--animation);
}

.modal-checkbox__icon-checked {
  position: absolute;

  top: 0;
  left: 0;
  transform: translate(12px, 4px);
  width: 16px;
  height: 15px;

  opacity: 0;

  transition: opacity var(--animation);
}

.modal-checkbox__input:checked + .modal-checkbox__icon {
  opacity: 0;
}

.modal-checkbox__input:checked ~ .modal-checkbox__icon-checked {
  opacity: 1;
}

/* Кнопки модального окна */

.form-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

.modal-close__icon {
  width: 18px;
  height: 18px;

  fill: var(--primary-black-color);

  transition: fill var(--animation);
}

.modal-close:hover .modal-close__icon,
.modal-close:focus .modal-close__icon {
  fill: var(--accent-text-color);
}

/* Портфолио */

/* Фильтр категорий проектов */

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;
  text-align: center;
  border: none;
  border-radius: 4px;

  background-color: var(--tetriary-background-color);
  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  cursor: pointer;

  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Примеры проектов */

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects__item {
  margin-left: 30px;
  margin-bottom: 30px;
  width: 370px;
}

.projects__link {
  display: block;

  transition: box-shadow var(--animation);
}

.projects__link:hover,
.projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  transform: translatex(0);
}

.projects__item:nth-child(3n + 1) {
  margin-left: 0;
}

.projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects__card {
  padding: 20px 24px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.projects__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}

.projects__descr {
  font-size: 16px;
  line-height: 1.88;
}

.projects__overlay-wrapper {
  position: relative;

  width: 370px;
  height: 294;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;

  padding: 63px 24px;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 28px;

  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  opacity: 0.9;
  transform: translateY(100%);

  transition: transform var(--animation);
}
