.modal__comment {
  margin-bottom: 10px;
  padding: 11px 12px;
  min-height: 120px;

  border: 1px solid $modalInputBorderColor;
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;
  cursor: pointer;

  transition: border $animation;
}

.modal__comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: $modalPlaceholderTextColor;
}
