.modal-field {
  position: relative;

  display: flex;
  flex-direction: column;
}

.modal-field__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
}

.modal-field__input {
  margin-bottom: 10px;
  padding: 11px 12px 11px 42px;

  border: 1px solid $modalInputBorderColor;
  box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;

  cursor: pointer;

  transition: border $animation;
}
